Repository freundTech/typst-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, check-jsonschema

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

check-jsonschema:
  name: Check rattler recipes
  language: system
  entry: pixi run -e lint check-jsonschema --schemafile https://raw.githubusercontent.com/prefix-dev/recipe-format/main/schema.json

fixup! Test packages in seperate ci job
  .github/workflows/build.yml
Due: actionlint

fixup! Test packages in seperate ci job
  matryoshka/recipe.yaml
Due: check-jsonschema

test
  matryoshka/recipe.yaml
Due: check-jsonschema

fixup! Test packages in seperate ci job
  matryoshka/build.bat
  matryoshka/build.sh
  matryoshka/recipe.yaml
Due: check-jsonschema

Fix matryoshka build script
  matryoshka/recipe.yaml
  matryoshka/test.typ
Due: check-jsonschema

Fix matryoshka build script (#3)
  matryoshka/recipe.yaml
  matryoshka/test.typ
Due: check-jsonschema

Improve CI setup and add pre-commit
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: actionlint

Improve CI setup and add pre-commit (#4)
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: actionlint

Fix CI failing when no packages were produced
  .github/workflows/build.yml
Due: actionlint

Fix CI failing when no packages were produced (#5)
  .github/workflows/build.yml
Due: actionlint

Add moderner-cv
  moderner-cv/0001-Change-template-file-import-to-typst-forge.patch
  moderner-cv/recipe.yaml
Due: check-jsonschema

Add moderner-cv (#6)
  moderner-cv/0001-Change-template-file-import-to-typst-forge.patch
  moderner-cv/recipe.yaml
Due: check-jsonschema

Fix package upload
  .github/workflows/build.yml
Due: actionlint

Fix package upload (#7)
  .github/workflows/build.yml
Due: actionlint

Build real noarch packages
  .github/workflows/build.yml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
Due: actionlint, check-jsonschema

Build real noarch packages (#8)
  .github/workflows/build.yml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
Due: actionlint, check-jsonschema

Add fontawesome
  fontawesome/recipe.yaml
  fontawesome/test.typ
Due: check-jsonschema

Add fontawesome (#9)
  fontawesome/recipe.yaml
  fontawesome/test.typ
Due: check-jsonschema

Make moderner-cv use fontawesome from typst-forge
  moderner-cv/0001-Change-imports-from-preview-to-typst-forge.patch
  moderner-cv/0001-Change-template-file-import-to-typst-forge.patch
  moderner-cv/recipe.yaml
Due: check-jsonschema

Make moderner-cv use fontawesome from typst-forge (#10)
  moderner-cv/0001-Change-imports-from-preview-to-typst-forge.patch
  moderner-cv/0001-Change-template-file-import-to-typst-forge.patch
  moderner-cv/recipe.yaml
Due: check-jsonschema

Add architectures
  pixi.lock
  pixi.toml
Due: none

Add architectures (#11)
  pixi.lock
  pixi.toml
Due: none

Improve README
  README.md
Due: none

Improve README (#12)
  README.md
Due: none

Full rebuild for typst 0.12.0
  fontawesome/recipe.yaml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
Due: check-jsonschema

Improve GitHub Actions setup
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update-lockfiles.yml
Due: actionlint

Disable rc channel
  .github/workflows/build.yml
  pixi.lock
  pixi.toml
Due: actionlint

Fix moderner-cv recipe
  moderner-cv/recipe.yaml
Due: check-jsonschema

Add polylux
  polylux/recipe.yaml
  polylux/test.typ
Due: check-jsonschema

No strict pinnings in pixi.toml
  pixi.toml
Due: none

Full rebuild for typst 0.12.0 (#15)
  .github/workflows/build.yml
  fontawesome/recipe.yaml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
  pixi.lock
  pixi.toml
Due: actionlint, check-jsonschema

Fix typo
  README.md
Due: none

Improve GitHub Actions setup (#16)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update-lockfiles.yml
  pixi.toml
Due: actionlint

Fix typo (#18)
  README.md
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  check-jsonschema: any of: ^[^/]+/recipe.yaml$ and \.(yaml|yml)$
