Repository freundTech/typst-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, check-jsonschema

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      - id: check-jsonschema
        name: Check rattler recipes
        language: system
        entry: pixi run -e lint check-jsonschema --schemafile https://raw.githubusercontent.com/prefix-dev/recipe-format/main/schema.json
        files: ^[^/]+/recipe.yaml$
        types: [yaml]

Bump build number once more
  moderner-cv/recipe.yaml
Due: check-jsonschema

Fix moderner-cv recipe (#17)
  moderner-cv/recipe.yaml
Due: check-jsonschema

Add polylux (#14)
  polylux/recipe.yaml
  polylux/test.typ
Due: check-jsonschema

Fix typo
  README.md
Due: none

Fix typo (#20)
  README.md
Due: none

Update pixi lockfile
  pixi.lock
Due: none

Add OIDC upload
  .github/workflows/build.yml
  fontawesome/recipe.yaml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
  polylux/recipe.yaml
Due: actionlint, check-jsonschema

Add OIDC upload (#23)
  .github/workflows/build.yml
  fontawesome/recipe.yaml
  matryoshka/recipe.yaml
  moderner-cv/recipe.yaml
  polylux/recipe.yaml
Due: actionlint, check-jsonschema

Enable id-token permission
  .github/workflows/build.yml
Due: actionlint

Enable id-token permission (#24)
  .github/workflows/build.yml
Due: actionlint

Bump moderner-cv
  moderner-cv/recipe.yaml
Due: check-jsonschema

Update 0001-Change-imports-from-preview-to-typst-forge.patch
  moderner-cv/0001-Change-imports-from-preview-to-typst-forge.patch
Due: none

use sed instead of patch
  fontawesome/recipe.yaml
  fontawesome/test.typ
  moderner-cv/0001-Change-imports-from-preview-to-typst-forge.patch
  moderner-cv/recipe.yaml
Due: check-jsonschema

Update recipe.yml
  academicv/recipe.yaml
Due: check-jsonschema

Add academicv
  academicv/0001-Change-imports-from-preview-to-typst-forge.patch
  academicv/recipe.yaml
Due: check-jsonschema

Add task to get hash
  pixi.toml
Due: none

Add template example
  examples/example-template/recipe.yaml
Due: none

Update CI pixi version
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Due: actionlint
